
#dragshow2 {
  display: none;
}
.clickable, .clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable, .clickable1:hover {
  text-decoration: underline;
}
.blue {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4c/d0/a5/4cd0a541c00111cb84d736c0ceb04005.jpg");
  background-size: cover;
}
.red {
  background-image: url("http://orig03.deviantart.net/69ea/f/2007/045/9/d/red_dragon__markers_by_drakhenliche.jpg");
  background-size:100%;
}
.gold {
  background-image: url("http://www.aidedd.org/dnd/images/dragonGold.jpg");
  background-size: cover;
}
